[
    {
        "tag": "Server@4000",
        "report_port": "4000",
        "server": "127.0.0.1",
        "server_port": 4000,
        "password": "password1",
        "method": "rc4-md5"
    },
    {
        "tag": "Server@4001",
        "report_port": "4001",
        "server": "127.0.0.1",
        "server_port": 4001,
        "password": "password2",
        "method": "rc4-md5"
    }
]
